In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('training_set_VU_DM.csv/training_set_VU_DM.csv')

In [8]:
df.head(50)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,1,2.83,0.0438,4.95,27,104.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,1,2.20,0.0149,5.03,26,170.74,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,1,2.20,0.0245,4.92,21,179.80,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,1,2.83,0.0125,4.39,34,602.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,-1.0,0.0,5.0,-1.0,0.0,5.0,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,1,2.64,0.1241,4.93,4,143.58,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,1,2.77,0.1302,5.20,7,195.32,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,1,2.20,0.0356,4.81,18,129.35,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,0,1.61,NaN,4.14,35,85.37,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,1,2.56,0.1238,5.18,3,150.05,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,1,2.83,0.1028,5.15,10,280.69,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
10,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59267,3,0.0,1,2.20,NaN,5.08,20,190.14,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,1.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
11,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59526,3,3.5,0,2.20,0.0377,4.78,19,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,-1.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,31.0,0,NaN,0
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,1,2.20,0.0206,4.44,13,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1,114.29,1
13,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,74474,3,4.5,1,2.40,0.1255,5.03,2,210.84,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
14,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,81437,3,4.0,1,2.30,0.0155,5.03,15,138.40,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
15,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,85728,2,3.0,1,1.79,0.0072,4.50,31,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,8.0,NaN,NaN,NaN,1.0,-1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
16,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88096,4,4.0,1,2.94,0.0660,5.18,23,152.63,1,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,5.0,0.0,0.0,5.0,NaN,NaN,NaN,1.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,15.0,0,NaN,0
17,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88127,3,3.0,1,1.39,0.0038,4.80,36,138.40,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
18,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88218,4,3.5,1,2.77,0.1266,4.98,8,115.12,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
19,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,89073,4,4.0,1,2.08,0.0150,5.28,6,191.44,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,5.0,0,NaN,0
20,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95166,3,4.0,1,2.71,0.0359,4.71,28,122.88,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,12.0,0.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
21,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95307,4,3.5,1,2.40,0.1149,4.93,1,139.70,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,29.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,27.0,0,NaN,0
22,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,97247,2,3.5,1,2.83,0.0145,4.68,32,115.12,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,5.0,NaN,NaN,NaN,1.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
23,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,107872,2,3.5,1,2.71,0.0465,4.44,12,128.06,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,23.0,0.0,0.0,10.0,NaN,NaN,NaN,1.0,-1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,14.0,0,NaN,0
24,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111000,3,4.5,1,2.20,0.0164,5.02,24,181.09,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
25,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111106,3,2.5,1,0.69,0.0071,4.67,37,120.29,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
26,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,114766,2,3.5,1,1.61,0.0052,4.67,33,104.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
27,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,122844,3,4.5,1,2.30,0.0032,5.46,29,190.14,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
28,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,3625,4,4.0,0,3.22,0.2544,5.98,21,295.00,0,12588,2,46,1,0,1,1,NaN,238.35,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
29,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11622,4,4.0,0,2.71,NaN,5.64,36,299.00,0,12588,2,46,1,0,1,1,NaN,238.34,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
30,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11826,5,4.5,1,3.22,0.1924,6.10,22,373.00,1,12588,2,46,1,0,1,1,NaN,238.33,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
31,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,22824,3,4.0,0,3.26,0.3729,5.74,4,329.00,0,12588,2,46,1,0,1,1,NaN,238.29,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
32,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,37581,5,4.5,0,3.09,0.2508,6.21,26,600.00,0,12588,2,46,1,0,1,1,NaN,238.35,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
33,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,39993,4,4.0,1,3.09,0.1692,5.69,3,365.00,0,12588,2,46,1,0,1,1,NaN,237.94,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
34,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,46162,4,4.5,0,3.26,0.3582,5.73,24,331.00,1,12588,2,46,1,0,1,1,NaN,238.32,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
35,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,49152,4,4.5,1,3.09,0.1417,5.92,9,329.00,0,12588,2,46,1,0,1,1,NaN,238.30,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
36,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,56063,4,4.5,0,3.26,0.3246,5.91,18,259.00,0,12588,2,46,1,0,1,1,NaN,238.33,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
37,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,56472,4,4.5,1,1.10,0.0149,5.55,10,335.00,0,12588,2,46,1,0,1,1,NaN,238.54,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
38,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,58696,0,4.5,0,1.61,0.0823,5.39,29,219.00,0,12588,2,46,1,0,1,1,NaN,236.91,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
39,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,64344,4,3.0,1,1.79,NaN,5.79,31,267.00,0,12588,2,46,1,0,1,1,NaN,238.40,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
40,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,65984,2,3.5,0,3.09,0.2230,5.08,25,194.00,0,12588,2,46,1,0,1,1,NaN,238.31,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
41,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,71258,1,2.0,0,0.69,0.0131,4.29,19,70.00,0,12588,2,46,1,0,1,1,NaN,236.59,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
42,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,75491,2,3.5,0,3.22,0.3696,5.52,8,189.00,0,12588,2,46,1,0,1,1,NaN,238.30,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
43,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,81172,0,4.0,0,0.69,NaN,5.56,33,289.00,0,12588,2,46,1,0,1,1,NaN,234.51,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
44,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,83045,3,3.5,0,3.26,0.3431,5.60,2,219.00,0,12588,2,46,1,0,1,1,NaN,238.33,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
45,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,83430,4,4.5,0,2.77,0.0362,5.85,27,405.00,0,12588,2,46,1,0,1,1,NaN,238.40,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
46,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,83806,4,4.0,1,3.18,0.3483,5.92,6,330.00,0,12588,2,46,1,0,1,1,NaN,238.29,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
47,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,85567,2,4.0,1,0.69,0.0408,5.14,7,135.00,0,12588,2,46,1,0,1,1,NaN,236.00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
48,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,85742,3,4.0,0,1.10,NaN,5.36,30,169.00,1,12588,2,46,1,0,1,1,NaN,234.10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
49,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,89119,4,4.5,1,3.18,0.2742,5.60,14,255.00,1,12588,2,46,1,0,1,1,NaN,238.06,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [7]:
pd.set_option('display.max_columns',54)

In [5]:
df.describe()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,4.958347e+06,4.958347e+06,4.958347e+06,251866.000000,252988.000000,4.958347e+06,4.958347e+06,4.958347e+06,4.950983e+06,4.958347e+06,4.958347e+06,3.867999e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,317406.000000,3.350565e+06,4.958347e+06,119930.000000,129559.000000,94439.000000,2.024672e+06,2.130269e+06,556238.000000,1.534288e+06,1.650990e+06,472797.000000,307378.000000,343663.000000,1.310860e+05,2.222373e+06,2.360020e+06,841099.000000,240157.000000,260976.000000,96174.000000,315348.000000,356422.000000,138515.000000,1.916654e+06,1.987503e+06,614730.000000,4.958347e+06,138390.000000,4.958347e+06
mean,1.663666e+05,9.953133e+00,1.753405e+02,3.374334,176.022659,1.739739e+02,7.007918e+04,3.180525e+00,3.777777e+00,6.346994e-01,2.872589e+00,1.303852e-01,4.317913e+00,1.685624e+01,2.542096e+02,2.156198e-01,1.404263e+04,2.385427e+00,3.747417e+01,1.972637e+00,3.504918e-01,1.110525e+00,5.022127e-01,-24.146418,1.301234e+03,2.959004e-01,0.479788,0.031059,244.229916,4.418987e-02,3.931006e-02,18.490732,1.729010e-02,5.776897e-02,27.071559,-0.016543,0.096653,1.753165e+02,2.267621e-02,5.142880e-02,29.851903,0.128329,0.075957,17.250473,0.145969,0.083202,19.433267,-6.089936e-02,9.962752e-03,22.430384,4.474858e-02,386.283316,2.791051e-02
std,9.611223e+04,7.646890e+00,6.591625e+01,0.692519,107.254493,6.834525e+01,4.060992e+04,1.051024e+00,1.050329e+00,4.815144e-01,1.531011e+00,1.594634e-01,1.834869e+00,1.042566e+01,1.600124e+04,4.112517e-01,8.111843e+03,2.053243e+00,5.199341e+01,8.570628e-01,7.325692e-01,4.172290e-01,4.999952e-01,15.743238,2.023951e+03,4.564465e-01,0.641565,0.229688,1165.448634,4.484236e-01,2.342388e-01,240.113851,4.575808e-01,2.948202e-01,1012.919911,0.578718,0.337165,5.757740e+03,5.217575e-01,2.678363e-01,1340.262382,0.559841,0.302668,31.160313,0.578202,0.316722,54.370221,4.691723e-01,2.029142e-01,895.965854,2.067514e-01,821.190577,1.647165e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.410000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-326.567500,1.000000e-02,0.000000e+00,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,-1.000000e+00,-1.000000e+00,2.000000,-1.000000,-1.000000,2.000000e+00,-1.000000e+00,-1.000000e+00,2.000000,-1.000000,-1.000000,2.000000,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,0.000000e+00,0.000000,0.000000e+00
25%,8.293600e+04,5.000000e+00,1.000000e+02,2.920000,109.810000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,1.790000e+00,1.900000e-02,4.450000e+00,8.000000e+00,8.500000e+01,0.000000e+00,7.101000e+03,1.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-30.774775,1.398000e+02,0.000000e+00,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000,0.000000,7.000000e+00,0.000000e+00,0.000000e+00,7.000000,0.000000,0.000000,6.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,124.000000,0.000000e+00
50%,1.665070e+05,5.000000e+00,2.190000e+02,3.450000,152.240000,2.190000e+02,6.963800e+04,3.000000e+00,4.000000e+00,1.000000e+00,2.770000e+00,6.900000e-02,4.910000e+00,1.600000e+01,1.220000e+02,0.000000e+00,1.354100e+04,2.000000e+00,1.700000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-20.451300,3.866000e+02,0.000000e+00,1.000000,0.000000,10.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,0.000000e+00,11.000000,0.000000,0.000000,1.100000e+01,0.000000e+00,0.000000e+00,12.000000,0.000000,0.000000,11.000000,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,218.400000,0.000000e+00
75%,2.497240e+05,1.400000e+01,2.190000e+02,3.930000,213.490000,2.190000e+02,1.051680e+05,4.000000e+00,4.500000e+00,1.000000e+00,4.040000e+00,1.805000e-01,5.310000e+00,2.600000e+01,1.849600e+02,0.000000e+00,2.108400e+04,3.000000e+00,4.800000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-13.350625,1.500670e+03,1.000000e+00,1.000000,0.000000,16.000000,0.000000e+00,0.000000e+00,20.000000,0.000000e+00,0.000000e+00,18.000000,0.000000,0.000000,1.900000e+01,0.000000e+00,0.000000e+00,21.000000,0.000000,0.000000,18.000000,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,429.790000,0.000000e+00
max,3.327850e+05,3.400000e+01,2.310000e+02,5.000000,1958.700000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,6.980000e+00,1.000000e+00,6.210000e+00,4.000000e+01,1.972633e+07,1.000000e+00,2.841600e+04,5.700000e+01,4.920000e+02,9.000000e+00,9.000000e+00,8.000000e+00,1.000000e+00,-2.494100,1.166664e+04,1.000000e+00,1.000000,1.000000,30389.000000,1.000000e+00,1.000000e+00,168893.000000,1.000000e+00,1.000000e+00,199266.000000,1.000000,1.000000,1.001584e+06,1.000000e+00,1.000000e+00,607561.000000,1.000000,1.000000,1620.000000,1.000000,1.000000,9900.000000,1.000000e+00,1.000000e+00,149400.000000,1.000000e+00,159292.380000,1.000000e+00

In [3]:
srch_grp = df.groupby(['srch_id'])

In [7]:
df.head(14)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,1,2.83,0.0438,4.95,27,104.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,1,2.20,0.0149,5.03,26,170.74,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,1,2.20,0.0245,4.92,21,179.80,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,1,2.83,0.0125,4.39,34,602.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,-1.0,0.0,5.0,-1.0,0.0,5.0,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,1,2.64,0.1241,4.93,4,143.58,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,1,2.77,0.1302,5.20,7,195.32,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,1,2.20,0.0356,4.81,18,129.35,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,0,1.61,NaN,4.14,35,85.37,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,1,2.56,0.1238,5.18,3,150.05,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,1,2.83,0.1028,5.15,10,280.69,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
10,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59267,3,0.0,1,2.20,NaN,5.08,20,190.14,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,1.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
11,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59526,3,3.5,0,2.20,0.0377,4.78,19,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,-1.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,31.0,0,NaN,0
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,1,2.20,0.0206,4.44,13,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1,114.29,1
13,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,74474,3,4.5,1,2.40,0.1255,5.03,2,210.84,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [24]:
AvgHotelPricePerSrchID = srch_grp['price_usd'].mean()
AvgHotelPricePerSrchID

srch_id
1         163.718929
4         265.562500
6         125.470000
8         163.904762
11         77.848485
             ...
332777    152.810312
332781     53.866667
332782     74.292083
332784    175.403929
332785    102.500000
Name: price_usd, Length: 199795, dtype: float64

In [44]:
df_newbook=df.rename(columns={'price_usd': 'HotelPrice'})
PriceOfHotel=df_newbook.set_index('srch_id')['HotelPrice']

In [45]:
PriceOfHotel

srch_id
1         104.77
1         170.74
1         179.80
1         602.77
1         143.58
           ...
332785    118.00
332785     89.00
332785     99.00
332785    139.00
332785     61.00
Name: HotelPrice, Length: 4958347, dtype: float64

In [180]:
python_df = pd.concat([AvgHotelPricePerSrchID, PriceOfHotel], axis='columns', sort= False)
python_df['normalize']=1
python_df['pre_norm'] =1 
python_df

          price_usd  HotelPrice  normalize  pre_norm
srch_id
1        163.718929      104.77          1         1
1        163.718929      170.74          1         1
1        163.718929      179.80          1         1
1        163.718929      602.77          1         1
1        163.718929      143.58          1         1
...             ...         ...        ...       ...
332785   102.500000      118.00          1         1
332785   102.500000       89.00          1         1
332785   102.500000       99.00          1         1
332785   102.500000      139.00          1         1
332785   102.500000       61.00          1         1

[4958347 rows x 4 columns]

In [182]:
a, b = -1,1

df1 = python_df.groupby(python_df.index)
index = python_df.index
uni_ind = index.unique()
for ind in uni_ind:
    pre_norm = df1.get_group(ind).price_usd - df1.get_group(ind).HotelPrice
    python_df.loc[ind,'pre_norm'] = pre_norm
    x, y = pre_norm.min(), pre_norm.max()
    python_df.loc[ind,'normalize'] = (pre_norm - x) / (y-x) * (b-a) + a

In [92]:
a, b = -1,1


pre_norm = python_df.price_usd - python_df.HotelPrice
x, y = pre_norm.min(), pre_norm.max()
python_df['norm'] = (pre_norm - x) / (y-x) * (b-a) + a

In [93]:
python_df

          price_usd  HotelPrice      norm
srch_id
1        163.718929      104.77  0.772883
1        163.718929      170.74  0.772876
1        163.718929      179.80  0.772875
1        163.718929      602.77  0.772829
1        163.718929      143.58  0.772879
...             ...         ...       ...
332785   102.500000      118.00  0.772875
332785   102.500000       89.00  0.772878
332785   102.500000       99.00  0.772877
332785   102.500000      139.00  0.772873
332785   102.500000       61.00  0.772881

[4958347 rows x 3 columns]

In [57]:
filt = df['click_bool'] == 1
df_newclick=df.rename(columns={'price_usd': 'clickedPrice'})
PriceOfclickedValue = df_newclick[filt].set_index('srch_id')['clickedPrice']
PriceOfclickedValue

srch_id
1         100.89
4         129.00
6         145.00
8          85.00
11         45.00
           ...
332781     57.00
332782     54.60
332782    109.43
332784    125.55
332785    139.00
Name: clickedPrice, Length: 221879, dtype: float64

In [13]:
python_df.rename(columns={'price_usd':'MedianPricePerQuerry'})

         MedianPricePerQuerry  bookedPrice  clickedPrice
srch_id
1                  163.718929       100.89        100.89
4                  265.562500          NaN        129.00
6                  125.470000       145.00        145.00
8                  163.904762        85.00         85.00
11                  77.848485          NaN         45.00
...                       ...          ...           ...
332781              53.866667        57.00         57.00
332782              74.292083       109.43         54.60
332782              74.292083       109.43        109.43
332784             175.403929       125.55        125.55
332785             102.500000       139.00        139.00

[221879 rows x 3 columns]

In [14]:
python_df.head()

          price_usd  bookedPrice  clickedPrice
srch_id
1        163.718929       100.89        100.89
4        265.562500          NaN        129.00
6        125.470000       145.00        145.00
8        163.904762        85.00         85.00
11        77.848485          NaN         45.00

In [15]:
python_df['clickedPrice'].mean()

291.90773060992706

In [16]:
df_nafree=python_df.dropna(axis='index',how='any', subset=['bookedPrice'])

In [17]:
df_nafree['bookedPrice'].median()

113.0

In [18]:
df_nafree.shape

(152467, 3)

In [19]:
python_df.shape

(221879, 3)

In [20]:
df_nafree['PctOfBookedPrice'] = ( df_nafree['bookedPrice'] / df_nafree['price_usd'] ) * 100
df_nafree

<ipython-input-20-bf72b00ac5fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nafree['PctOfBookedPrice'] = ( df_nafree['bookedPrice'] / df_nafree['price_usd'] ) * 100

          price_usd  bookedPrice  clickedPrice  PctOfBookedPrice
srch_id
1        163.718929       100.89        100.89         61.623907
6        125.470000       145.00        145.00        115.565474
8        163.904762        85.00         85.00         51.859384
21        76.261034        47.94         47.94         62.863034
25        64.151515        42.00         42.00         65.470005
...             ...          ...           ...               ...
332781    53.866667        57.00         57.00        105.816832
332782    74.292083       109.43         54.60        147.296987
332782    74.292083       109.43        109.43        147.296987
332784   175.403929       125.55        125.55         71.577644
332785   102.500000       139.00        139.00        135.609756

[152467 rows x 4 columns]

In [24]:
df_loc2score=df.rename(columns={'prop_location_score2': 'AvgLocation_score2'})
loc2_grp = df_loc2score.groupby(['srch_id'])

In [25]:
AvgScoreLoc2 = loc2_grp['AvgLocation_score2'].mean()
AvgScoreLoc2

srch_id
1         0.048992
4         0.209620
6              NaN
8         0.122821
11        0.170800
            ...
332777    0.102844
332781    0.650000
332782    0.072539
332784    0.099296
332785    0.070425
Name: AvgLocation_score2, Length: 199795, dtype: float64

In [26]:
Loc2_score = df.set_index('srch_id')['prop_location_score2']
Loc2_score

srch_id
1         0.0438
1         0.0149
1         0.0245
1         0.0125
1         0.1241
           ...
332785    0.0471
332785    0.1520
332785    0.0164
332785    0.0662
332785       NaN
Name: prop_location_score2, Length: 4958347, dtype: float64

In [27]:
df_loc2 = pd.concat([AvgScoreLoc2, Loc2_score], axis='columns', sort= False)
df_loc2['normalize']=1
df_loc2['pre_norm'] =1 
df_loc2

         AvgLocation_score2  prop_location_score2  normalize  pre_norm
srch_id
1                  0.048992                0.0438          1         1
1                  0.048992                0.0149          1         1
1                  0.048992                0.0245          1         1
1                  0.048992                0.0125          1         1
1                  0.048992                0.1241          1         1
...                     ...                   ...        ...       ...
332785             0.070425                0.0471          1         1
332785             0.070425                0.1520          1         1
332785             0.070425                0.0164          1         1
332785             0.070425                0.0662          1         1
332785             0.070425                   NaN          1         1

[4958347 rows x 4 columns]

In [28]:
a, b = -1,1
df_loc2_new = df_loc2.groupby(df_loc2.index)
index = df_loc2.index
uni_ind = index.unique()
for ind in uni_ind:
    pre_norm = df_loc2_new.get_group(ind).AvgLocation_score2 - df_loc2_new.get_group(ind).prop_location_score2
    df_loc2.loc[ind,'pre_norm'] = pre_norm
    x, y = pre_norm.min(), pre_norm.max()
    df_loc2.loc[ind,'normalize'] = (pre_norm - x) / (y-x) * (b-a) + a

In [10]:
df_dest=df.rename(columns={'orig_destination_distance': 'AvgDestDist'})
dist_grp = df_dest.groupby(['srch_id'])
AvgDestDist = dist_grp['AvgDestDist'].mean()
df_dest1 = df.set_index('srch_id')['orig_destination_distance']
dest = pd.concat([AvgDestDist, df_dest1], axis='columns', sort= False)
dest['normalize']=1
dest['pre_norm'] =1 

a, b = -1,1
df_dest_new = dest.groupby(dest.index)
index = dest.index
uni_ind = index.unique()
for ind in uni_ind:
    pre_norm = df_dest_new.get_group(ind).AvgDestDist - df_dest_new.get_group(ind).orig_destination_distance
    dest.loc[ind,'pre_norm'] = pre_norm
    x, y = pre_norm.min(), pre_norm.max()
    dest.loc[ind,'normalize'] = (pre_norm - x) / (y-x) * (b-a) + a

dest

         AvgDestDist  orig_destination_distance  normalize  pre_norm
srch_id
1                NaN                        NaN        NaN       NaN
1                NaN                        NaN        NaN       NaN
1                NaN                        NaN        NaN       NaN
1                NaN                        NaN        NaN       NaN
1                NaN                        NaN        NaN       NaN
...              ...                        ...        ...       ...
332785        549.15                     550.92  -0.082446     -1.77
332785        549.15                     553.14  -0.145452     -3.99
332785        549.15                     544.43   0.101745      4.72
332785        549.15                     550.38  -0.067121     -1.23
332785        549.15                     583.25  -1.000000    -34.10

[4958347 rows x 4 columns]

In [16]:
dest.head(62)

         AvgDestDist  orig_destination_distance  normalize  pre_norm
srch_id
1                NaN                        NaN        NaN       NaN
1                NaN                        NaN        NaN       NaN
1                NaN                        NaN        NaN       NaN
1                NaN                        NaN        NaN       NaN
1                NaN                        NaN        NaN       NaN
...              ...                        ...        ...       ...
4          237.62125                     238.34  -0.914347  -0.71875
4          237.62125                     238.21  -0.858672  -0.58875
4          237.62125                     236.14   0.027837   1.48125
6          652.83000                     652.84  -0.714286  -0.01000
6          652.83000                     652.84  -0.714286  -0.01000

[62 rows x 4 columns]