In [1]:
import pandas as pd

In [61]:
df = pd.read_csv('training_set_VU_DM.csv/training_set_VU_DM.csv')

In [3]:
df.head(50)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
10,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59267,3,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
11,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59526,3,3.5,...,NaN,NaN,NaN,NaN,1.0,0.0,31.0,0,NaN,0
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1,114.29,1
13,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,74474,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
14,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,81437,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
15,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,85728,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
16,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88096,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,15.0,0,NaN,0
17,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88127,3,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
18,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88218,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
19,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,89073,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.0,0,NaN,0
20,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95166,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
21,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95307,4,3.5,...,NaN,NaN,NaN,NaN,-1.0,0.0,27.0,0,NaN,0
22,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,97247,2,3.5,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
23,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,107872,2,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,14.0,0,NaN,0
24,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111000,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
25,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111106,3,2.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
26,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,114766,2,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
27,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,122844,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
28,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,3625,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
29,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11622,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
30,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11826,5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
31,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,22824,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
32,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,37581,5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
33,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,39993,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
34,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,46162,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
35,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,49152,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
36,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,56063,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
37,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,56472,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
38,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,58696,0,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
39,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,64344,4,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
40,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,65984,2,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
41,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,71258,1,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
42,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,75491,2,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
43,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,81172,0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
44,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,83045,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
45,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,83430,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
46,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,83806,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
47,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,85567,2,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
48,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,85742,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
49,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,89119,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [4]:
pd.set_option('display.max_columns',54)

In [5]:
df.describe()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,4.958347e+06,4.958347e+06,4.958347e+06,251866.000000,252988.000000,4.958347e+06,4.958347e+06,4.958347e+06,4.950983e+06,4.958347e+06,4.958347e+06,3.867999e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,317406.000000,3.350565e+06,4.958347e+06,119930.000000,129559.000000,94439.000000,2.024672e+06,2.130269e+06,556238.000000,1.534288e+06,1.650990e+06,472797.000000,307378.000000,343663.000000,1.310860e+05,2.222373e+06,2.360020e+06,841099.000000,240157.000000,260976.000000,96174.000000,315348.000000,356422.000000,138515.000000,1.916654e+06,1.987503e+06,614730.000000,4.958347e+06,138390.000000,4.958347e+06
mean,1.663666e+05,9.953133e+00,1.753405e+02,3.374334,176.022659,1.739739e+02,7.007918e+04,3.180525e+00,3.777777e+00,6.346994e-01,2.872589e+00,1.303852e-01,4.317913e+00,1.685624e+01,2.542096e+02,2.156198e-01,1.404263e+04,2.385427e+00,3.747417e+01,1.972637e+00,3.504918e-01,1.110525e+00,5.022127e-01,-24.146418,1.301234e+03,2.959004e-01,0.479788,0.031059,244.229916,4.418987e-02,3.931006e-02,18.490732,1.729010e-02,5.776897e-02,27.071559,-0.016543,0.096653,1.753165e+02,2.267621e-02,5.142880e-02,29.851903,0.128329,0.075957,17.250473,0.145969,0.083202,19.433267,-6.089936e-02,9.962752e-03,22.430384,4.474858e-02,386.283316,2.791051e-02
std,9.611223e+04,7.646890e+00,6.591625e+01,0.692519,107.254493,6.834525e+01,4.060992e+04,1.051024e+00,1.050329e+00,4.815144e-01,1.531011e+00,1.594634e-01,1.834869e+00,1.042566e+01,1.600124e+04,4.112517e-01,8.111843e+03,2.053243e+00,5.199341e+01,8.570628e-01,7.325692e-01,4.172290e-01,4.999952e-01,15.743238,2.023951e+03,4.564465e-01,0.641565,0.229688,1165.448634,4.484236e-01,2.342388e-01,240.113851,4.575808e-01,2.948202e-01,1012.919911,0.578718,0.337165,5.757740e+03,5.217575e-01,2.678363e-01,1340.262382,0.559841,0.302668,31.160313,0.578202,0.316722,54.370221,4.691723e-01,2.029142e-01,895.965854,2.067514e-01,821.190577,1.647165e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.410000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-326.567500,1.000000e-02,0.000000e+00,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,-1.000000e+00,-1.000000e+00,2.000000,-1.000000,-1.000000,2.000000e+00,-1.000000e+00,-1.000000e+00,2.000000,-1.000000,-1.000000,2.000000,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,0.000000e+00,0.000000,0.000000e+00
25%,8.293600e+04,5.000000e+00,1.000000e+02,2.920000,109.810000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,1.790000e+00,1.900000e-02,4.450000e+00,8.000000e+00,8.500000e+01,0.000000e+00,7.101000e+03,1.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-30.774775,1.398000e+02,0.000000e+00,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000,0.000000,7.000000e+00,0.000000e+00,0.000000e+00,7.000000,0.000000,0.000000,6.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,124.000000,0.000000e+00
50%,1.665070e+05,5.000000e+00,2.190000e+02,3.450000,152.240000,2.190000e+02,6.963800e+04,3.000000e+00,4.000000e+00,1.000000e+00,2.770000e+00,6.900000e-02,4.910000e+00,1.600000e+01,1.220000e+02,0.000000e+00,1.354100e+04,2.000000e+00,1.700000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-20.451300,3.866000e+02,0.000000e+00,1.000000,0.000000,10.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,0.000000e+00,11.000000,0.000000,0.000000,1.100000e+01,0.000000e+00,0.000000e+00,12.000000,0.000000,0.000000,11.000000,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,218.400000,0.000000e+00
75%,2.497240e+05,1.400000e+01,2.190000e+02,3.930000,213.490000,2.190000e+02,1.051680e+05,4.000000e+00,4.500000e+00,1.000000e+00,4.040000e+00,1.805000e-01,5.310000e+00,2.600000e+01,1.849600e+02,0.000000e+00,2.108400e+04,3.000000e+00,4.800000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-13.350625,1.500670e+03,1.000000e+00,1.000000,0.000000,16.000000,0.000000e+00,0.000000e+00,20.000000,0.000000e+00,0.000000e+00,18.000000,0.000000,0.000000,1.900000e+01,0.000000e+00,0.000000e+00,21.000000,0.000000,0.000000,18.000000,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,429.790000,0.000000e+00
max,3.327850e+05,3.400000e+01,2.310000e+02,5.000000,1958.700000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,6.980000e+00,1.000000e+00,6.210000e+00,4.000000e+01,1.972633e+07,1.000000e+00,2.841600e+04,5.700000e+01,4.920000e+02,9.000000e+00,9.000000e+00,8.000000e+00,1.000000e+00,-2.494100,1.166664e+04,1.000000e+00,1.000000,1.000000,30389.000000,1.000000e+00,1.000000e+00,168893.000000,1.000000e+00,1.000000e+00,199266.000000,1.000000,1.000000,1.001584e+06,1.000000e+00,1.000000e+00,607561.000000,1.000000,1.000000,1620.000000,1.000000,1.000000,9900.000000,1.000000e+00,1.000000e+00,149400.000000,1.000000e+00,159292.380000,1.000000e+00

In [6]:
srch_grp = df.groupby(['srch_id'])

In [7]:
AvgHotelPricePerSrchID = srch_grp['price_usd'].median()
AvgHotelPricePerSrchID

srch_id
1         139.050
4         263.000
6         115.030
8         160.000
11         76.000
           ...
332777    134.305
332781     55.000
332782     71.720
332784    186.385
332785    104.000
Name: price_usd, Length: 199795, dtype: float64

In [65]:
filt = df['booking_bool'] == 1
df_newbook=df.rename(columns={'price_usd': 'bookedPrice'})
PriceOfBookedValue=df_newbook[filt].set_index('srch_id')['bookedPrice']

In [80]:
PriceOfBookedValue

srch_id
1         100.89
6         145.00
8          85.00
21         47.94
25         42.00
           ...
332776    341.00
332781     57.00
332782    109.43
332784    125.55
332785    139.00
Name: bookedPrice, Length: 138390, dtype: float64

In [79]:
filt = df['click_bool'] == 1
df_newclick=df.rename(columns={'price_usd': 'clickedPrice'})
PriceOfclickedValue = df_newclick[filt].set_index('srch_id')['clickedPrice']
PriceOfclickedValue

srch_id
1         100.89
4         129.00
6         145.00
8          85.00
11         45.00
           ...
332781     57.00
332782     54.60
332782    109.43
332784    125.55
332785    139.00
Name: clickedPrice, Length: 221879, dtype: float64

In [67]:
python_df = pd.concat([AvgHotelPricePerSrchID, PriceOfBookedValue, PriceOfclickedValue], axis='columns', sort= False)
python_df

         price_usd  bookedPrice  clickedPrice
srch_id
1          139.050       100.89        100.89
4          263.000          NaN        129.00
6          115.030       145.00        145.00
8          160.000        85.00         85.00
11          76.000          NaN         45.00
...            ...          ...           ...
332781      55.000        57.00         57.00
332782      71.720       109.43         54.60
332782      71.720       109.43        109.43
332784     186.385       125.55        125.55
332785     104.000       139.00        139.00

[221879 rows x 3 columns]

In [70]:
python_df.rename(columns={'price_usd':'MedianPricePerQuerry'})

         MedianPricePerQuerry  bookedPrice  clickedPrice
srch_id
1                     139.050       100.89        100.89
4                     263.000          NaN        129.00
6                     115.030       145.00        145.00
8                     160.000        85.00         85.00
11                     76.000          NaN         45.00
...                       ...          ...           ...
332781                 55.000        57.00         57.00
332782                 71.720       109.43         54.60
332782                 71.720       109.43        109.43
332784                186.385       125.55        125.55
332785                104.000       139.00        139.00

[221879 rows x 3 columns]

In [71]:
python_df.head(50)

         price_usd  bookedPrice  clickedPrice
srch_id
1          139.050       100.89        100.89
4          263.000          NaN        129.00
6          115.030       145.00        145.00
8          160.000        85.00         85.00
11          76.000          NaN         45.00
12          50.500          NaN         27.00
17         225.210          NaN        182.98
21          71.140        47.94         47.94
25          53.000        42.00         42.00
28          89.000        85.00         85.00
29         480.665       248.17        248.17
30         190.075       176.98        176.98
31         149.025          NaN        101.23
36         120.040       101.51        101.51
39         127.500        55.00         55.00
40          54.485          NaN         56.04
42          80.910       108.21         79.89
42          80.910       108.21         70.79
42          80.910       108.21        108.21
43         100.000          NaN        108.00
44         135.135       126.83        126.83
45          94.835        60.31         60.31
46         199.500       209.00        196.00
46         199.500       209.00        122.00
46         199.500       209.00        209.00
47         123.000       153.50        153.50
49          84.420       115.24        115.24
52          85.250        60.80         60.80
53         179.000       151.00        151.00
56         219.000          NaN         92.00
57          85.170        69.44         69.44
60         156.560       182.83        182.83
61          84.000          NaN         68.00
63         140.710          NaN        152.35
64          90.000        90.00         90.00
65         119.000          NaN         85.00
66          70.000        84.00         84.00
67          79.670        72.52         72.52
71          27.075          NaN         72.82
72         426.000       349.00        349.00
73         136.000        94.00         94.00
74         219.000       139.00        139.00
75          83.500       155.00        155.00
78         231.500       116.00        116.00
79         159.690       108.10        108.10
80         119.000       127.00        127.00
81          87.500          NaN         92.00
82         163.000       251.00        251.00
83         155.070          NaN         70.37
84         159.000       178.00        178.00