In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('training_set_VU_DM.csv/training_set_VU_DM.csv')

In [3]:
df.shape

(4958347, 54)

In [3]:
pd.set_option('display.max_columns',54)

In [5]:
df.describe()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,4.958347e+06,4.958347e+06,4.958347e+06,251866.000000,252988.000000,4.958347e+06,4.958347e+06,4.958347e+06,4.950983e+06,4.958347e+06,4.958347e+06,3.867999e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,4.958347e+06,317406.000000,3.350565e+06,4.958347e+06,119930.000000,129559.000000,94439.000000,2.024672e+06,2.130269e+06,556238.000000,1.534288e+06,1.650990e+06,472797.000000,307378.000000,343663.000000,1.310860e+05,2.222373e+06,2.360020e+06,841099.000000,240157.000000,260976.000000,96174.000000,315348.000000,356422.000000,138515.000000,1.916654e+06,1.987503e+06,614730.000000,4.958347e+06,138390.000000,4.958347e+06
mean,1.663666e+05,9.953133e+00,1.753405e+02,3.374334,176.022659,1.739739e+02,7.007918e+04,3.180525e+00,3.777777e+00,6.346994e-01,2.872589e+00,1.303852e-01,4.317913e+00,1.685624e+01,2.542096e+02,2.156198e-01,1.404263e+04,2.385427e+00,3.747417e+01,1.972637e+00,3.504918e-01,1.110525e+00,5.022127e-01,-24.146418,1.301234e+03,2.959004e-01,0.479788,0.031059,244.229916,4.418987e-02,3.931006e-02,18.490732,1.729010e-02,5.776897e-02,27.071559,-0.016543,0.096653,1.753165e+02,2.267621e-02,5.142880e-02,29.851903,0.128329,0.075957,17.250473,0.145969,0.083202,19.433267,-6.089936e-02,9.962752e-03,22.430384,4.474858e-02,386.283316,2.791051e-02
std,9.611223e+04,7.646890e+00,6.591625e+01,0.692519,107.254493,6.834525e+01,4.060992e+04,1.051024e+00,1.050329e+00,4.815144e-01,1.531011e+00,1.594634e-01,1.834869e+00,1.042566e+01,1.600124e+04,4.112517e-01,8.111843e+03,2.053243e+00,5.199341e+01,8.570628e-01,7.325692e-01,4.172290e-01,4.999952e-01,15.743238,2.023951e+03,4.564465e-01,0.641565,0.229688,1165.448634,4.484236e-01,2.342388e-01,240.113851,4.575808e-01,2.948202e-01,1012.919911,0.578718,0.337165,5.757740e+03,5.217575e-01,2.678363e-01,1340.262382,0.559841,0.302668,31.160313,0.578202,0.316722,54.370221,4.691723e-01,2.029142e-01,895.965854,2.067514e-01,821.190577,1.647165e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.410000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-326.567500,1.000000e-02,0.000000e+00,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,-1.000000e+00,-1.000000e+00,2.000000,-1.000000,-1.000000,2.000000e+00,-1.000000e+00,-1.000000e+00,2.000000,-1.000000,-1.000000,2.000000,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,0.000000e+00,0.000000,0.000000e+00
25%,8.293600e+04,5.000000e+00,1.000000e+02,2.920000,109.810000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,1.790000e+00,1.900000e-02,4.450000e+00,8.000000e+00,8.500000e+01,0.000000e+00,7.101000e+03,1.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-30.774775,1.398000e+02,0.000000e+00,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000,0.000000,7.000000e+00,0.000000e+00,0.000000e+00,7.000000,0.000000,0.000000,6.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,124.000000,0.000000e+00
50%,1.665070e+05,5.000000e+00,2.190000e+02,3.450000,152.240000,2.190000e+02,6.963800e+04,3.000000e+00,4.000000e+00,1.000000e+00,2.770000e+00,6.900000e-02,4.910000e+00,1.600000e+01,1.220000e+02,0.000000e+00,1.354100e+04,2.000000e+00,1.700000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-20.451300,3.866000e+02,0.000000e+00,1.000000,0.000000,10.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,0.000000e+00,11.000000,0.000000,0.000000,1.100000e+01,0.000000e+00,0.000000e+00,12.000000,0.000000,0.000000,11.000000,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,218.400000,0.000000e+00
75%,2.497240e+05,1.400000e+01,2.190000e+02,3.930000,213.490000,2.190000e+02,1.051680e+05,4.000000e+00,4.500000e+00,1.000000e+00,4.040000e+00,1.805000e-01,5.310000e+00,2.600000e+01,1.849600e+02,0.000000e+00,2.108400e+04,3.000000e+00,4.800000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-13.350625,1.500670e+03,1.000000e+00,1.000000,0.000000,16.000000,0.000000e+00,0.000000e+00,20.000000,0.000000e+00,0.000000e+00,18.000000,0.000000,0.000000,1.900000e+01,0.000000e+00,0.000000e+00,21.000000,0.000000,0.000000,18.000000,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,429.790000,0.000000e+00
max,3.327850e+05,3.400000e+01,2.310000e+02,5.000000,1958.700000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,6.980000e+00,1.000000e+00,6.210000e+00,4.000000e+01,1.972633e+07,1.000000e+00,2.841600e+04,5.700000e+01,4.920000e+02,9.000000e+00,9.000000e+00,8.000000e+00,1.000000e+00,-2.494100,1.166664e+04,1.000000e+00,1.000000,1.000000,30389.000000,1.000000e+00,1.000000e+00,168893.000000,1.000000e+00,1.000000e+00,199266.000000,1.000000,1.000000,1.001584e+06,1.000000e+00,1.000000e+00,607561.000000,1.000000,1.000000,1620.000000,1.000000,1.000000,9900.000000,1.000000e+00,1.000000e+00,149400.000000,1.000000e+00,159292.380000,1.000000e+00

In [4]:
srch_grp = df.groupby(['srch_id'])

In [7]:
df.head(14)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,prop_location_score2,prop_log_historical_price,position,price_usd,promotion_flag,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff,comp2_rate,comp2_inv,comp2_rate_percent_diff,comp3_rate,comp3_inv,comp3_rate_percent_diff,comp4_rate,comp4_inv,comp4_rate_percent_diff,comp5_rate,comp5_inv,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,1,2.83,0.0438,4.95,27,104.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,1,2.20,0.0149,5.03,26,170.74,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,1,2.20,0.0245,4.92,21,179.80,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,1,2.83,0.0125,4.39,34,602.77,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,-1.0,0.0,5.0,-1.0,0.0,5.0,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,1,2.64,0.1241,4.93,4,143.58,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,1,2.77,0.1302,5.20,7,195.32,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,1,2.20,0.0356,4.81,18,129.35,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,0,1.61,NaN,4.14,35,85.37,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,1,2.56,0.1238,5.18,3,150.05,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,1,2.83,0.1028,5.15,10,280.69,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
10,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59267,3,0.0,1,2.20,NaN,5.08,20,190.14,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,1.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
11,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59526,3,3.5,0,2.20,0.0377,4.78,19,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,-1.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,31.0,0,NaN,0
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,1,2.20,0.0206,4.44,13,100.89,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1,114.29,1
13,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,74474,3,4.5,1,2.40,0.1255,5.03,2,210.84,0,23246,1,0,4,0,1,1,NaN,NaN,1,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [24]:
AvgHotelPricePerSrchID = srch_grp['price_usd'].mean()
AvgHotelPricePerSrchID

srch_id
1         163.718929
4         265.562500
6         125.470000
8         163.904762
11         77.848485
             ...
332777    152.810312
332781     53.866667
332782     74.292083
332784    175.403929
332785    102.500000
Name: price_usd, Length: 199795, dtype: float64

In [44]:
df_newbook=df.rename(columns={'price_usd': 'HotelPrice'})
PriceOfHotel=df_newbook.set_index('srch_id')['HotelPrice']

In [45]:
PriceOfHotel

srch_id
1         104.77
1         170.74
1         179.80
1         602.77
1         143.58
           ...
332785    118.00
332785     89.00
332785     99.00
332785    139.00
332785     61.00
Name: HotelPrice, Length: 4958347, dtype: float64

In [180]:
python_df = pd.concat([AvgHotelPricePerSrchID, PriceOfHotel], axis='columns', sort= False)
python_df['normalize']=1
python_df['pre_norm'] =1 
python_df

          price_usd  HotelPrice  normalize  pre_norm
srch_id
1        163.718929      104.77          1         1
1        163.718929      170.74          1         1
1        163.718929      179.80          1         1
1        163.718929      602.77          1         1
1        163.718929      143.58          1         1
...             ...         ...        ...       ...
332785   102.500000      118.00          1         1
332785   102.500000       89.00          1         1
332785   102.500000       99.00          1         1
332785   102.500000      139.00          1         1
332785   102.500000       61.00          1         1

[4958347 rows x 4 columns]

In [182]:
a, b = -1,1

df1 = python_df.groupby(python_df.index)
index = python_df.index
uni_ind = index.unique()
for ind in uni_ind:
    pre_norm = df1.get_group(ind).price_usd - df1.get_group(ind).HotelPrice
    python_df.loc[ind,'pre_norm'] = pre_norm
    x, y = pre_norm.min(), pre_norm.max()
    python_df.loc[ind,'normalize'] = (pre_norm - x) / (y-x) * (b-a) + a

In [183]:
python_df.head(50)

          price_usd  HotelPrice  normalize    pre_norm
srch_id
1        163.718929      104.77   0.925010   58.948929
1        163.718929      170.74   0.670004   -7.021071
1        163.718929      179.80   0.634983  -16.081071
1        163.718929      602.77  -1.000000 -439.051071
1        163.718929      143.58   0.774990   20.138929
1        163.718929      195.32   0.574990  -31.601071
1        163.718929      129.35   0.829996   34.368929
1        163.718929       85.37   1.000000   78.348929
1        163.718929      150.05   0.749981   13.668929
1        163.718929      280.69   0.244994 -116.971071
1        163.718929      190.14   0.595014  -26.421071
1        163.718929      100.89   0.940008   62.828929
1        163.718929      100.89   0.940008   62.828929
1        163.718929      210.84   0.514998  -47.121071
1        163.718929      138.40   0.795014   25.318929
1        163.718929      100.89   0.940008   62.828929
1        163.718929      152.63   0.740008   11.088929
1        163.718929      138.40   0.795014   25.318929
1        163.718929      115.12   0.885002   48.598929
1        163.718929      191.44   0.589988  -27.721071
1        163.718929      122.88   0.855006   40.838929
1        163.718929      139.70   0.789988   24.018929
1        163.718929      115.12   0.885002   48.598929
1        163.718929      128.06   0.834983   35.658929
1        163.718929      181.09   0.629996  -17.371071
1        163.718929      120.29   0.865017   43.428929
1        163.718929      104.77   0.925010   58.948929
1        163.718929      190.14   0.595014  -26.421071
4        265.562500      295.00   0.150943  -29.437500
4        265.562500      299.00   0.135849  -33.437500
4        265.562500      373.00  -0.143396 -107.437500
4        265.562500      329.00   0.022642  -63.437500
4        265.562500      600.00  -1.000000 -334.437500
4        265.562500      365.00  -0.113208  -99.437500
4        265.562500      331.00   0.015094  -65.437500
4        265.562500      329.00   0.022642  -63.437500
4        265.562500      259.00   0.286792    6.562500
4        265.562500      335.00   0.000000  -69.437500
4        265.562500      219.00   0.437736   46.562500
4        265.562500      267.00   0.256604   -1.437500
4        265.562500      194.00   0.532075   71.562500
4        265.562500       70.00   1.000000  195.562500
4        265.562500      189.00   0.550943   76.562500
4        265.562500      289.00   0.173585  -23.437500
4        265.562500      219.00   0.437736   46.562500
4        265.562500      405.00  -0.264151 -139.437500
4        265.562500      330.00   0.018868  -64.437500
4        265.562500      135.00   0.754717  130.562500
4        265.562500      169.00   0.626415   96.562500
4        265.562500      255.00   0.301887   10.562500

In [92]:
a, b = -1,1


pre_norm = python_df.price_usd - python_df.HotelPrice
x, y = pre_norm.min(), pre_norm.max()
python_df['norm'] = (pre_norm - x) / (y-x) * (b-a) + a

In [93]:
python_df

          price_usd  HotelPrice      norm
srch_id
1        163.718929      104.77  0.772883
1        163.718929      170.74  0.772876
1        163.718929      179.80  0.772875
1        163.718929      602.77  0.772829
1        163.718929      143.58  0.772879
...             ...         ...       ...
332785   102.500000      118.00  0.772875
332785   102.500000       89.00  0.772878
332785   102.500000       99.00  0.772877
332785   102.500000      139.00  0.772873
332785   102.500000       61.00  0.772881

[4958347 rows x 3 columns]

In [57]:
filt = df['click_bool'] == 1
df_newclick=df.rename(columns={'price_usd': 'clickedPrice'})
PriceOfclickedValue = df_newclick[filt].set_index('srch_id')['clickedPrice']
PriceOfclickedValue

srch_id
1         100.89
4         129.00
6         145.00
8          85.00
11         45.00
           ...
332781     57.00
332782     54.60
332782    109.43
332784    125.55
332785    139.00
Name: clickedPrice, Length: 221879, dtype: float64

In [13]:
python_df.rename(columns={'price_usd':'MedianPricePerQuerry'})

         MedianPricePerQuerry  bookedPrice  clickedPrice
srch_id
1                  163.718929       100.89        100.89
4                  265.562500          NaN        129.00
6                  125.470000       145.00        145.00
8                  163.904762        85.00         85.00
11                  77.848485          NaN         45.00
...                       ...          ...           ...
332781              53.866667        57.00         57.00
332782              74.292083       109.43         54.60
332782              74.292083       109.43        109.43
332784             175.403929       125.55        125.55
332785             102.500000       139.00        139.00

[221879 rows x 3 columns]

In [14]:
python_df.head()

          price_usd  bookedPrice  clickedPrice
srch_id
1        163.718929       100.89        100.89
4        265.562500          NaN        129.00
6        125.470000       145.00        145.00
8        163.904762        85.00         85.00
11        77.848485          NaN         45.00

In [15]:
python_df['clickedPrice'].mean()

291.90773060992706

In [16]:
df_nafree=python_df.dropna(axis='index',how='any', subset=['bookedPrice'])

In [17]:
df_nafree['bookedPrice'].median()

113.0

In [18]:
df_nafree.shape

(152467, 3)

In [19]:
python_df.shape

(221879, 3)

In [20]:
df_nafree['PctOfBookedPrice'] = ( df_nafree['bookedPrice'] / df_nafree['price_usd'] ) * 100
df_nafree

<ipython-input-20-bf72b00ac5fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nafree['PctOfBookedPrice'] = ( df_nafree['bookedPrice'] / df_nafree['price_usd'] ) * 100

          price_usd  bookedPrice  clickedPrice  PctOfBookedPrice
srch_id
1        163.718929       100.89        100.89         61.623907
6        125.470000       145.00        145.00        115.565474
8        163.904762        85.00         85.00         51.859384
21        76.261034        47.94         47.94         62.863034
25        64.151515        42.00         42.00         65.470005
...             ...          ...           ...               ...
332781    53.866667        57.00         57.00        105.816832
332782    74.292083       109.43         54.60        147.296987
332782    74.292083       109.43        109.43        147.296987
332784   175.403929       125.55        125.55         71.577644
332785   102.500000       139.00        139.00        135.609756

[152467 rows x 4 columns]

In [11]:
df_loc1score=df.rename(columns={'prop_location_score1': 'AvgLocation_score1'})
loc1_grp = df_loc1score.groupby(['srch_id'])

In [12]:
AvgScoreLoc1 = loc1_grp['AvgLocation_score1'].mean()
AvgScoreLoc1

srch_id
1         2.299643
4         2.504063
6         1.950000
8         1.835238
11        1.613939
            ...
332777    3.288125
332781    1.585333
332782    1.615833
332784    4.719643
332785    1.651667
Name: AvgLocation_score1, Length: 199795, dtype: float64

In [13]:
Loc1_score = df.set_index('srch_id')['prop_location_score1']
Loc1_score

srch_id
1         2.83
1         2.20
1         2.20
1         2.83
1         2.64
          ...
332785    1.61
332785    1.95
332785    1.10
332785    1.95
332785    1.10
Name: prop_location_score1, Length: 4958347, dtype: float64

In [16]:
df_loc1 = pd.concat([AvgScoreLoc1, Loc1_score], axis='columns', sort= False)
df_loc1['normalize']=1
df_loc1['pre_norm'] =1 
df_loc1

         AvgLocation_score1  prop_location_score1  normalize  pre_norm
srch_id
1                  2.299643                  2.83          1         1
1                  2.299643                  2.20          1         1
1                  2.299643                  2.20          1         1
1                  2.299643                  2.83          1         1
1                  2.299643                  2.64          1         1
...                     ...                   ...        ...       ...
332785             1.651667                  1.61          1         1
332785             1.651667                  1.95          1         1
332785             1.651667                  1.10          1         1
332785             1.651667                  1.95          1         1
332785             1.651667                  1.10          1         1

[4958347 rows x 4 columns]

In [ ]:
a, b = -1,1
df_loc1_new = df_loc1.groupby(df_loc1.index)
index = df_loc1.index
uni_ind = index.unique()
for ind in uni_ind:
    pre_norm = df_loc1_new.get_group(ind).AvgLocation_score1 - df_loc1_new.get_group(ind).prop_location_score1
    df_loc1.loc[ind,'pre_norm'] = pre_norm
    x, y = pre_norm.min(), pre_norm.max()
    df_loc1.loc[ind,'normalize'] = (pre_norm - x) / (y-x) * (b-a) + a

In [19]:
df_loc1.head(50)

         AvgLocation_score1  prop_location_score1  normalize  pre_norm
srch_id
1                  2.299643                  2.83   0.048889 -0.530357
1                  2.299643                  2.20   0.328889  0.099643
1                  2.299643                  2.20   0.328889  0.099643
1                  2.299643                  2.83   0.048889 -0.530357
1                  2.299643                  2.64   0.133333 -0.340357
1                  2.299643                  2.77   0.075556 -0.470357
1                  2.299643                  2.20   0.328889  0.099643
1                  2.299643                  1.61   0.591111  0.689643
1                  2.299643                  2.56   0.168889 -0.260357
1                  2.299643                  2.83   0.048889 -0.530357
1                  2.299643                  2.20   0.328889  0.099643
1                  2.299643                  2.20   0.328889  0.099643
1                  2.299643                  2.20   0.328889  0.099643
1                  2.299643                  2.40   0.240000 -0.100357
1                  2.299643                  2.30   0.284444 -0.000357
1                  2.299643                  1.79   0.511111  0.509643
1                  2.299643                  2.94   0.000000 -0.640357
1                  2.299643                  1.39   0.688889  0.909643
1                  2.299643                  2.77   0.075556 -0.470357
1                  2.299643                  2.08   0.382222  0.219643
1                  2.299643                  2.71   0.102222 -0.410357
1                  2.299643                  2.40   0.240000 -0.100357
1                  2.299643                  2.83   0.048889 -0.530357
1                  2.299643                  2.71   0.102222 -0.410357
1                  2.299643                  2.20   0.328889  0.099643
1                  2.299643                  0.69   1.000000  1.609643
1                  2.299643                  1.61   0.591111  0.689643
1                  2.299643                  2.30   0.284444 -0.000357
4                  2.504063                  3.22   0.015564 -0.715937
4                  2.504063                  2.71   0.214008 -0.205937
4                  2.504063                  3.22   0.015564 -0.715937
4                  2.504063                  3.26   0.000000 -0.755937
4                  2.504063                  3.09   0.066148 -0.585937
4                  2.504063                  3.09   0.066148 -0.585937
4                  2.504063                  3.26   0.000000 -0.755937
4                  2.504063                  3.09   0.066148 -0.585937
4                  2.504063                  3.26   0.000000 -0.755937
4                  2.504063                  1.10   0.840467  1.404063
4                  2.504063                  1.61   0.642023  0.894063
4                  2.504063                  1.79   0.571984  0.714063
4                  2.504063                  3.09   0.066148 -0.585937
4                  2.504063                  0.69   1.000000  1.814063
4                  2.504063                  3.22   0.015564 -0.715937
4                  2.504063                  0.69   1.000000  1.814063
4                  2.504063                  3.26   0.000000 -0.755937
4                  2.504063                  2.77   0.190661 -0.265937
4                  2.504063                  3.18   0.031128 -0.675937
4                  2.504063                  0.69   1.000000  1.814063
4                  2.504063                  1.10   0.840467  1.404063
4                  2.504063                  3.18   0.031128 -0.675937